.sesion{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: $separacion/3;
    background-color: $gris;
    p{
        color: $azul2;
        font-weight: bold;
        padding: $separacion /3;
        text-transform: uppercase;
    }
    a{
        color: $azul2;
        font-weight: bold;
        padding: $separacion /3;
        margin-top: $separacion/2;
        
        &:hover{
            color: $blanco;
        }
    }

}